{% extends 'wikiApp/base.html' %}

{% block content %}
<section class="borderPage">
{% if user.is_authenticated %}
<h2 class="centerTitle">WELCOME TO YOUR WIKI WORLD</h2>
    {% if allPosts %}
        {% for eachPost in allPosts %}
    <h4>{{ eachPost.post_Title }}</h4>
    <b>created on :</b> <i>{{ eachPost.createdDateTime }}</i>
    <b>Updated on :</b> <i>{{ eachPost.updatedDateTime }}</i>
    <a href="{% url 'editEntry' eachPost.id %}">Edit</a>
    <a href="{% url 'deleteEntry' eachPost.id %}">Delete</a> <br> <br>
    <hr>
    {% endfor %}
    {% else %}
    <h1>No Post Available</h1>
    {% endif %}
    {% else %}
<h2 class="centerTitle">WIKIPEDIA</h2>
    <h5 class="centerTitle">The free encyclopedia</h5>
    {% if allPosts %}
    {% for eachPost in allPosts %}
    <h4>{{ eachPost.post_Title }}</h4>
    <b>created on :</b> <i>{{ eachPost.createdDateTime }}</i>
    <b>Updated on :</b> <i>{{ eachPost.updatedDateTime }}</i>
    <hr>
    {% endfor %}
    {% else %}
    <h1>No Post Available</h1>
    {% endif %}
{% endif %}
</section>
<aside>
    <h3>For a better view</h3>
    <h3>GO TO</h3>
   <h1 style="font-size: 90px">&#8632; ALL ENTRIES</h1>
</aside>
{% endblock %}