{% extends 'wikiApp/base.html' %}

{% block content %}
<section>
<h1>{{ clickOnEntry.post_Title }} </h1>
<p>{{ clickOnEntry.post_Text}}</p>
    <a href="{% url 'allEntries' %}">&#10237; BACK TO THE ENTRIES</a>
</section>
<aside>
<h6>Related information about {{ clickOnEntry.post_Title }}:</h6>
    {% for items in relatedItem %}
    <p>{{ items.item_Title }}</p>
    <a href="{% url 'editRelatedItems' items.id %}">EDIT</a>
    <a href="{% url 'deleteRelatedItems' items.id %}">DELETE</a>
    <hr>
    {% endfor %}
    <a href="{% url 'newRelatedItems' clickOnEntry.id %}">Add Related Item</a> <br><br>
</aside>
{% endblock content %}