{% extends 'wikiApp/base.html' %}

{% block content %}
<section class="borderPage">
<h1 class="centerTitle">{{ clickOnEntry.post_Title }} </h1>
    <img src="{{ clickOnEntry.post_Image.url }}" alt="Card image cap" width="200" style="float: right" >
<p>{{ clickOnEntry.post_Text}}</p>
    <a href="{% url 'allEntries' %}">&#10237; BACK TO THE ENTRIES</a>
</section>
<aside class="borderPage">
<h6>Related information about {{ clickOnEntry.post_Title }}:</h6>
    {% if relatedItem %}
    {% for items in relatedItem %}
    <img src="{{ items.item_Image.url }}" alt="item" width="120" style="float: right">
    <div class="relatedItemStyle">
    <p>{{ items.item_Title }}</p>
    <p>{{ items.item_Text }}</p>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'editRelatedItems' items.id %}">EDIT</a>
    <a href="{% url 'deleteRelatedItems' items.id %}">DELETE</a>
    <hr>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'newRelatedItems' clickOnEntry.id %}">Add New Item</a> <br><br>
    {% endif %}
</aside>
{% endblock content %}