{% extends 'wikiApp/base.html' %}

{% block content %}
<section>
<h2>MY ENTRIES</h2>
    <a href="{% url 'allEntries' %}">&#10237; BACK TO THE ENTRIES</a>
{% if user.is_authenticated %}
<div class="gridContainer">
    {% for eachPost in personalInfo %}
    <div class="card" style="width: 22.8rem;">
        <a href="{% url 'readEntry' eachPost.id %}">
        <img class="card-img-top" src="{{ eachPost.post_Image.url }}" alt="Card image cap">
        </a>
        <div class="card-body">
            <h4 class="card-title">{{ eachPost.post_Title }}</h4>
            <p>All the next informations about {{ eachPost.post_Title }} are verified.</p>
            <p class="card-text">created on :{{ eachPost.createdDateTime }}</p>
            <p class="card-text">Updated on :{{ eachPost.updatedDateTime }}</p>
            <a href="{% url 'editEntry' eachPost.id %}">Edit</a>
            <a href="{% url 'deleteEntry' eachPost.id %}">Delete</a> <br> <br>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1>No Post Available</h1>
{% endif%}
</section>
{% endblock %}